
.addTodoContainer {
    display: flex;
  align-items: center;  
}

.addTodo {
  display: flex;
  justify-content: center;
}


.commonButton {
  border-radius: 10px;
  text-align: center;
  margin-top: 25px;
  border: none;
  padding: 5px 7px;
  font-size: 11px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  color: #69f0ae;
  background-color: black;
  cursor: pointer;
}
.mainButton {
  height: 35px;
  border-radius: 10px;
  text-align: center;
  margin-top: 25px;
  border: none;
  padding: 5px 7px;
  font-size: 13px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  color: #283593;
  background-color: #69f0ae;
  cursor: pointer;
}
.frogLetters {
  color: #69f0ae;  
}

.todo:hover {
  background-color:#d1c4e9;
}

.frogIcon{
  height:136px;
  background-image: url('./frog0.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: 0.4s;
}

.frogIcon:hover{
  transform: scale(1.2)
}

.frogIcon.isFrogClicked{
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}
